<p>All it takes is <strong>one</strong> right answer!</p>

<ul class="nav nav-list">
	<li class="divider"></li>
</ul>

<div id="container_logged_in">

	<div class = "content">
		<p> Enter a Question that if your lova got right it would be the perfect match</p>
	</div>

	<div class = "divider_box">
	</div>

	<div class="question">
		<%= form_for @question do |f| %>
			<%= f.label :question %>
			<%= f.text_field :question %>
			<%= f.hidden_field :user_id, :value => @authenticated_user.id if @authenticated_user %>
			<br>
			<%= f.submit 'Save', class: "btn" %>
		<% end %>
	</div>
</div>

