<p>
  Enter your deets &amp; we'll find your <strong>perfect</strong> cutie<strong>.</strong>pie
</p><hr>

  <div id="user-login">

 
      <%= form_for @user do |f| %>
      <div class="box_1">
           <div class="field">
            <%= f.label :name %><br />
            <%= f.text_field :name %>
          </div>
          <div class="field">
            <%= f.label :password %><br />
            <%= f.password_field :password %>
          </div>
          <div class="field">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation %>
          </div>
          <div class="field">
            <%= f.label :Profile_picture %><br />
            <%= f.text_field :main_pic_id %>
          </div>
          <div class="field">
            <%= f.label :Tag_Line %><br />
            <%= f.text_field :tagline %>
          </div>
          <div class="field">
            <%= f.label :Age %><br />
            <%= f.text_field :age %>
          </div>
        </div>
        <div class="box_1">
          <div class="field">
            <%= f.label :gender %><br />
            <%= f.text_field :gender %>
          </div>
          <div class="field">
            <%= f.label :city %><br />
            <%= f.text_field :city %>
          </div>
          <div class="field">
            <%= f.label :state %><br />
            <%= f.text_field :state %>
          </div>
          <div class="field">
            <%= f.label :ethnicity %><br />
            <%= f.text_field :ethnicity %>
          </div>
          <div class="field">
            <%= f.label :description %><br />
            <%= f.text_field :description %>
          </div>

          <div class="actions">
          <%= f.submit "Let's do this!", class: "btn" %>
         </div>
       </div>
       <div class="box_2">
        <div></div>
       </div>

  <% end %>
  </div>
</div>