<div class = "profile_container">
<div class="profile">
	<h1> <%= @user.name %> </h1>
	<%= link_to 'edit', edit_user_path if @authenticated_user == @user %>

	<div class="f1">Name</div>
	<div class="f1"> <%= @user.name %>  </div>
	<div class="f1">Tagline</div>
	<div class="f1"> <%= @user.tagline %>    </div>
	<div class="f1">Profile Picture</div>
	<div class="f1">Age</div>
	<div class="f1"> <%= @user.age %>    </div>
	<div class="f1">Gender</div>
	<div class="f1"> <%= @user.gender %>    </div>
	<div class="f1">Location</div>
	<div class="f1"> <%= @user.city + @user.state %>    </div>
	<div class="f1">Ethnicity</div>
	<div class="f1"> <%= @user.ethnicity %>    </div>
	<div class="f1">Description</div>
	<div class="f1"> <%= @user.description %>    </div>

	<%= link_to 'Message Me!',  match_path, class: "btn" if @show %>		<!-- 	# sends to questionaire first -->
	<%= link_to 'Message Me!',  write_path, class: "btn" if @matched %>		<!-- # sends directly to draft -->
	 <%= link_to 'edit', edit_user_path if @authenticated_user == @user %>
</div>

<div class="profile_photo">
		<div class="f1">Profile Picture</div>
		<%= image_tag @user.photos[@user[:main_pic_id]].photo if !(@user.photos.empty?) %>
</div>
</div>


<h2>Pictures:</h2>
<br>
<% @user.photos.each do |p| %>
<%= image_tag p.photo.thumb %>
<% end %>

	<%= form_for @p, html: {multipart: true} do |f| %>
		<%= f.label :photo if (@authenticated_user == @user) %>
		<%= f.file_field :photo  if (@authenticated_user == @user) %>
		<%= f.text_field :remote_photo_url if (@authenticated_user == @user) %>
		<%= f.hidden_field :user_id, :value => @authenticated_user.id if @authenticated_user %>
 		<%= f.submit :upload, class: "btn"  if (@authenticated_user == @user) %>
	<% end %>
