<p>
	Who ever <strong>loved</strong> that <strong>loved</strong> not at first sight?<em> Shakespeare</em>
</p>

<ul class="nav nav-list">
	<li class="divider"></li>
</ul>
<div class = "profile_container">
	<div class = "profile_1">
		<div class = "profile_info">
				<h1> <%= @user.name %> </h1>
				<div class="f1"><strong>Tagline:</strong> <%= @user.tagline %> </div>
				<div class="f1"><strong>Age:</strong> <%= @user.age %></div>
				<div class="f1"><strong>Gender:</strong> <%= @user.gender %></div>
				<div class="f1"><strong>Location:</strong></div>
				<div class="f1"> <%= @user.city + ' , ' + @user.state %></div>
				<div class="f1"><strong>Ethnicity:</strong> <%= @user.ethnicity %></div>
				<div class="f1"><strong>Description:</strong></div>
				<div class="f1"> <%= @user.description %></div>
				<br>
				<em><%= link_to 'Edit Profile', edit_user_path if @authenticated_user == @user %></em>
		</div>
	</div>

	<div class = "photo_upload">
		<div class="f3">Profile Picture</div>
		<div class="f2"><%= image_tag @user.photos[@user[:main_pic_id]].photo if !(@user.photos.empty?) %></div>
	</div>

</div>

<div class = "send_message">
	<%= link_to 'Message Me!',  match_path, class: "btn clearfix" if @show %>		
	<%= link_to 'Message Me!',  write_path, class: "btn clearfix" if @matched %>
</div>

<hr><br>

<div class = "pictures">
		<h2><%= @user.name %>'s pictures...[<span class="heart">&#x2665;</span>]</h2>
	<br>
	<% @user.photos.each do |p| %>
	<%= image_tag p.photo.thumb %>
	<% end %>

	<div class = "photo_form">
			<%= form_for @p, html: {multipart: true} do |f| %>
				<%= f.label :photo if (@authenticated_user == @user) %>
				<%= f.file_field :photo  if (@authenticated_user == @user) %>
				<%= f.text_field :remote_photo_url if (@authenticated_user == @user) %>
				<%= f.hidden_field :user_id, :value => @authenticated_user.id if @authenticated_user %>
		 		<%= f.submit :upload, class: "btn"  if (@authenticated_user == @user) %>
			<% end %>
	</div>
</div>
<br>
<br>


	
