<p>
	You want to send <strong><%= @receiver.name %></strong> a love note?<br><em>Answer one simple question :-)</em><br>
</p>

<ul class="nav nav-list">
	<li class="divider"></li>
</ul>
<br>



<div id="match_question">
	<div class="box">

		<h2><%= @q.question  %></h2>
		<br>

		<%= form_tag do %>
		<%= hidden_field_tag 'question', @q.id %>
		<%= hidden_field_tag 'receiver', @receiver.id %>
		<!-- loop here to randomize -->
			<%= radio_button_tag 'answer', @a[0].answer1, false %><%= @a[0].answer1 %>
			<%= radio_button_tag 'answer', @a[0].answer2, false %><%= @a[0].answer2 %>
			<%= radio_button_tag 'answer', @a[0].answer3, false %><%= @a[0].answer3 %><br>
			<br>
			<%= submit_tag 'Try your luck!', class: "btn" %>
		<% end %>
	</div>
</div>