<p>
	<strong>Love</strong> is a smoke and is made with the fume of sighs.<br><em> Shakespeare</em>
</p>

<ul class="nav nav-list">
	<li class="divider"></li>
</ul>
<br>
<div id="images">
	<div id="seventeen" class="images"></div>
	<div id="sixteen" class="images"></div>
	<div id="nineteen" class="images"></div>
	<div id="three" class="images"></div>
	<div id="twenty" class="images"></div>
	<div id="eighteen" class="images"></div>
	<div id="twelve" class="images"></div>
	<div id="seven" class="images"></div>
</div>
<br>

<h1>[People I liked]</h1><hr>
<br>
<% @me_to_you.each do |m| %>

	<strong>From: </strong> <%= m.metoyou.name %><br>
	<strong>To: </strong><%= m.youtome.name %><br>
	<strong>Match? </strong><%= m.match %><br>
	<hr>
<% end %><br><br>

<h1>[People who liked me]</h1><hr>
<br>
<% @you_to_me.each do |m| %>

	<strong>From: </strong><%= m.metoyou.name %><br>
	<strong>To: </strong><%= m.youtome.name %><br>
	<strong>Match? </strong> <%= m.match %><br>
	<hr>
<% end %><br><br>

<h1>[My Questions]</h1><hr>
<br>

<% @user.questions.each do |q|  %>
<li><%= q.question %></li>
<% end %>


