<!DOCTYPE html>
<html>
<head>
  <title>Datestar</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Julius+Sans+One' rel='stylesheet' type='text/css'>
</head>
<body>

<nav>
	<br>
	<h1> Logged in as: <%= @authenticated_user.name if @authenticated_user %>  </h1>
	<hr>

	<%= show_dynamic_links %>
	<%= link_to "users", users_path %>
	<%= link_to "new user", new_user_path %>
	<%= link_to "new question", questions_path %>
	<hr>
</nav>
<%= yield %>

	<div class="main">	
		<%= yield %>
	</div>

	<footer>
		<div id="copyrights">COPYRIGHTS</div>
	</footer>

</body>
</html>
