<!DOCTYPE html>
<html>
<head>
  <title>Datestar</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Julius+Sans+One' rel='stylesheet' type='text/css'>
</head>
<body>
	<header>
		<div id="logo"><%= link_to image_tag('logo-01.png'), root_path %></div>
		<nav>
			<strong>
				<%= show_dynamic_links %>
				<%= link_to "MY PROFILE", user_path(@authenticated_user) if @authenticated_user %>
				<%= link_to "USERS", users_path if @authenticated_user %>
				<%= link_to "NEW USER", new_user_path if !@authenticated_user %>
				<%= link_to "NEW QUESTION", questions_path(@authenticated_user) if @authenticated_user %>
				<%= link_to "MY MATCHES", match_show_path(@authenticated_user) if @authenticated_user %>
				<%= link_to "MY INBOX", inbox_path(@authenticated_user)  if @authenticated_user %>
			</strong>
		</nav>
	</header>

	<div class="main">
		<%= yield %>
	</div>

	<footer>
		<div id="copyrights">
			© 2012 cutie.pie :: All rights reserved ::
			Made by Hand. [<span class="heart">&#x2665;</span>]
		</div>

		<div id="social-media" class="clearfix">
			<ul>
				<li><a href="#" class="facebook">Facebook</a></li>
				<li><a href="#" class="twitter">Twitter</a></li>	
			</ul>
		</div><!-- #social-media -->
	</footer>

</body>
</html>
