<!DOCTYPE html>
<html>
<head>
  <title>Datestar</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
	<br>
	<h1> Logged in as: <%= @authenticated_user.name if @authenticated_user %>  </h1>
	<hr>

	<%= show_dynamic_links %>
	<%= link_to "users", users_path %>
	<%= link_to "new user", new_user_path %>
	<%= link_to "new question", questions_path %>
 <!-- matches link here -->
	<%= link_to "inbox", inbox_path(@authenticated_user) %>
	<hr>
</nav>
<%= yield %>

</body>
</html>
